*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: hsl(180, 74%, 79%);
}
/* body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
} */
.navi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 50px 0 50px; */
    /* margin-left: 50px; */
}
nav div img{
    height: 100px;
    width: 100px;
}
.List1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 800;
    gap: 30px;
    margin-right: 40%;
}
.Top-button1{
    display: flex;
    align-items: center;
    font-size: 200;
    background-color: blue;
    border: none;
    padding: 15px 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}
.Top-button1:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* lift section css */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 150px; */
    padding: ;
}
.left-section h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(30, 5, 90);  
}
.left-section h1 span{
    color: rgb(35, 96, 226);
    font-weight: 900;
    font-size: 2.5rem;
}
.left-section p{
    font-weight: 500;
    color: rgb(35, 96, 226);
}
.Bottom-button{
    display: grid;
    align-items: center;
    font-size: 200;
    background-color: blue;
    border: none;
    padding: 15px 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    /* width: fit-content; */
    margin-top: 5%;
}
.Bottom-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
section div img{
    height: 400px;
    width: 400px;
}










